<html>
<body>
    <h1>MKProject1</h1>
    <script>
    var xhr = new XMLHttpRequest();
    xhr.open("GET","/api/photo/list");
    xhr.addEventListener("load", function(e){
        var photoList = JSON.parse(xhr.responseText);
	document.getElementById("photo").innerHTML = xhr.responseText;
      
    });
    xhr.send();
    </script>
    <div id ="photo"></div>
</body>
</html>
